.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/bin
~$*.*


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc

# dependencies
/frontend/node_modules

# IDEs and editors
/frontend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
npm-debug.log
testem.log
/frontend/typings

# e2e
/frontend/e2e/*.js
/frontend/e2e/*.map

# System Files
.DS_Store
Thumbs.db

/src/main/resources/static